# Hand tracking and computer vision
mediapipe==0.10.32
opencv-python==4.13.0.92

# Machine learning
torch==2.11.0
scikit-learn==1.8.0
joblib==1.5.3

# Data and mathematics
numpy==2.3.5

# Audio processing
sounddevice==0.5.5
soundfile==0.13.1
